.card {
    box-shadow: 0 10px rgba(17,38,63,.8)!important;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(194, 181, 181);
    border-radius: 5%;
    border-color: rgba(17,38,63,.8);
    border-width: 2px;
    position: absolute;
    margin-left: 100px;
    margin-right: 20px;
}
